.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    animation: modalAnim 0.2s ease;
}

@keyframes modalAnim{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal.active {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal__content {
    padding: 18px 30px;
    background-color: #ffffff;
    border-radius: 16px;
    min-width: 500px;
}

@media (max-width: 530px) {
    .modal__content {
        min-width: 80%;
    }
}
